.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0.5% 1%;
    background-color: rgba(42, 66, 66, 0.301);
    justify-content: center;
    align-items: center;
}

.searchBox{
    width: 45%;
    margin: 5% auto;
}

.productDiv{
    padding: 1%;
    border-radius: 2%;
    cursor: pointer;
    &:hover{
        border:2px solid rgba(57, 57, 58, 0.349);
    }
}